<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.gssm.entity.Admin">

     <!-- 实体类与数据库映射字段部分  start -->
	<resultMap id="ResultMapAdmin" type="com.gssm.entity.Admin">
		     <result property="id" column="id"/>
		     <result property="username" column="username"/>
		     <result property="userpwd" column="userpwd"/>
		     <result property="identity" column="identity"/>
	</resultMap>
	 <!-- 实体类与数据库映射字段部分  end -->
	 
	 <!-- 声明数据库字段 -->
	<sql id="Admin_field">
			<!--判断是否是最后一个元素，如果不是最后一个添加,-->
		     id,
		     username,
		     userpwd,
		     identity
	</sql>
	<!-- 实体类属性  -->
	<sql id="Admin_insert">
			<!--判断是否是最后一个元素，如果不是最后一个添加,-->
		     #{id},
		     #{username},
		     #{userpwd},
		     #{identity}
	</sql>
	
	<!-- 执行修改时 数据库字段和表字段比较 -->
	<sql id="Admin_update">
		<!--判断是否是最后一个元素，如果不是最后一个添加,-->
        	<if test="id != null" >
            	id =  #{id} ,
        	</if>
        	<if test="username != null" >
            	username =  #{username} ,
        	</if>
        	<if test="userpwd != null" >
            	userpwd =  #{userpwd} ,
        	</if>
        	<if test="identity != null" >
            	identity =  #{identity} 
        	</if>
	</sql>
	
	<!-- 查询时条件 -->
	<sql id="Admin_where">
        	<if test="id != null" >
        		and id =  #{id}
        	</if>
        	<if test="username != null" >
        		and username =  #{username}
        	</if>
        	<if test="userpwd != null" >
        		and userpwd =  #{userpwd}
        	</if>
        	<if test="identity != null" >
        		and identity =  #{identity}
        	</if>
	</sql>
	<!-- 
	 1.方法描述：新增数据
	 2.参数：实体类
	 3.返回：主键
	-->
	<insert id="insert" parameterType="com.gssm.entity.Admin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_admin (
        <include refid="Admin_field" />
        ) VALUES (
        <include refid="Admin_insert" />       
        )
	</insert>
	
	<!-- 
	 1.方法描述：删除数据
	 2.参数：主键id
	-->
	<delete id="delete" parameterType="java.lang.String">
	 delete from t_admin where id=#{id}
	</delete>
	
	 <!-- 
	 1.方法描述：删除数据(自定义)由于参数未知 因此在使用的时候注意要对参数进行判断。这里仅仅是一个模板
	 2.参数：map
	-->
	<delete id="deleteBySqId" parameterType="map">
	 delete from t_admin where 1=1
	 <include refid="Admin_where" />
	</delete>
	
	<!-- 
	 1.方法描述：修改数据
	 2.参数：实体类
	-->
	<update id="update" parameterType="com.gssm.entity.Admin">
        UPDATE t_admin
        <set>
	        <include refid="Admin_update" />
	    </set>
        WHERE 1=1
        	and id=#{id}        
	</update>
	
	<!-- 
	 1.方法描述：select查询单个
	 2.参数：id
	-->
	<select id="load" resultMap="ResultMapAdmin" parameterType="java.lang.String">
		select 	<include refid="Admin_field" />
 		from t_admin 
 		where id=#{id}
	</select>
	
	
	<!-- 
	 1.方法描述：select查询单个(自定义)
	 2.参数：map
	-->
	<select id="loadBySqlId" resultMap="ResultMapAdmin" parameterType="map">
		select 	<include refid="Admin_field" />
 		from t_admin 
 		WHERE 1=1
        	<include refid="Admin_where" />
	</select>
	
	<!-- 
	 1.方法描述：用于select查询所有
	 2.参数：map
	-->
	<select id="list" resultMap="ResultMapAdmin" parameterType="map">
		select 	<include refid="Admin_field" />
 		from t_admin 
 		WHERE 1=1
        	<include refid="Admin_where" />
	</select>
	
	<!-- 
	 1.方法描述：用于select查询所有(自定义)
	 2.参数：map
	-->
	<select id="listBySqlId" resultMap="ResultMapAdmin" parameterType="map">
		select <include refid="Admin_field" />
 		from t_admin where 1=1
 		<include refid="Admin_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：用于select查询所有
	 2.参数：无参数
	-->
	<select id="listAll" resultMap="ResultMapAdmin">
		select <include refid="Admin_field" />
 		from t_admin 
	</select>
	
	
	<!-- 
	 1.方法描述：用于select查询所有(自定义)
	 2.参数：实体类
	-->
	<select id="listAllByEntity" resultMap="ResultMapAdmin" parameterType="com.gssm.entity.Admin">
		select <include refid="Admin_field" />
 		from t_admin  where 1=1
 		<include refid="Admin_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：查询分页
	 2.参数：实体类
	-->
	<select id="findByEntity" resultMap="ResultMapAdmin" parameterType="com.gssm.entity.Admin">
		select <include refid="Admin_field" />
 		from t_admin  where 1=1
 		<include refid="Admin_where" /> 
 		order by id desc
	</select>
	
	<!-- 
	 1.方法描述：查询分页(自定义)
	 2.参数：实体类
	-->
	<select id="findByEntitySqlId" resultMap="ResultMapAdmin" parameterType="com.gssm.entity.Admin">
		select <include refid="Admin_field" />
 		from t_admin  where 1=1
 		<include refid="Admin_where" /> 
 		order by id desc
	</select>
	
	<!-- 
	 1.方法描述：查询分页(自定义)
	 2.参数：map
	-->
	<select id="findByMapSqlId" resultMap="ResultMapAdmin" parameterType="map">
		select <include refid="Admin_field" />
 		from t_admin where 1=1
 		<include refid="Admin_where" /> 
 		order by id desc
	</select>
	
	
	<!-- 
	 1.方法描述：查询分页 非插件
	 2.参数：map
	-->
	<select id="find" resultMap="ResultMapAdmin" parameterType="map">
		select <include refid="Admin_field" />
 		from t_admin where 1=1
 		<include refid="Admin_where" /> 
 		order by id desc limit  #{pageOffset}, #{pageSize}
	</select>
	
	<!-- 
	 1.方法描述：查询分页  非插件    总数
	 2.参数：map
	-->
	<select id="find_count" resultMap="ResultMapAdmin" parameterType="map">
		select count(*)
 		from t_admin where 1=1
 		<include refid="Admin_where" /> 
 		order by id desc
	</select>
		
	<!-- 
	 1.方法描述：查询分页  非插件   自定义
	 2.参数：map
	-->
	<select id="findBySqlId" resultMap="ResultMapAdmin" parameterType="map">
		select <include refid="Admin_field" />
 		from t_admin where 1=1
 		<include refid="Admin_where" /> 
 		order by id desc limit  #{pageOffset}, #{pageSize}
	</select>
	
	<!-- 
	 1.方法描述：查询分页  非插件   总数  自定义
	 2.参数：map
	-->
	<select id="findBySqlId_count" resultMap="ResultMapAdmin" parameterType="map">
		select count(*)
 		from t_admin where 1=1
 		<include refid="Admin_where" /> 
	</select>
	
	
	<!-- 
	 1.方法描述：批量插入
	 2.参数：集合/数组
	-->
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_admin (
        <include refid="Admin_field" />
        ) VALUES 
        <foreach collection="list" item="item" index="index"
			separator=",">
			(
			 <include refid="Admin_insert" />
			)
		</foreach>       
        
	</insert>
    
    <!-- 
	 1.方法描述：批量修改
	 2.参数：集合/数组
	-->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"
			separator=";">
        UPDATE 
        t_admin 
        <set>
	    </set>
        WHERE 
        	1=1 
        </foreach>    
	</update>	
	
</mapper>

